
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-size: 18px;
    line-height: 1.5;
    font-family: $primary-font;
    scroll-behavior: smooth;
    background: $background-color;
}

h1 {
    text-align: center;
    font-size: 1.4rem;
    color: $primary-text-color;
    font-family: $secondary-font;
    font-weight: $bold;
    margin-top: 100px;
}

a {
    text-decoration: none;
}

p {
    font-family: $primary-font;
    font-weight: $regular;
    margin: 0 1rem;
}

.p-poppins{
    font-family: $secondary-font;
}

.container {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    margin-left:auto;
    margin-right:auto;


    @include tablet {
        max-width: $breakpoint-tablet-max;
    }

    @include tablet-ls {
        max-width: $breakpoint-tablet-ls-max;
    }

    @include desktop {
        max-width: $breakpoint-desktop-max;
    }
}

.flex-cont{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-align{
    display: flex;
    justify-content: center;
    margin-top: 6rem;
    color: $secondary-text-color;
}

.border {
    border: 1px solid #707070;
   }

.box {
    width: 100%;
    height: 95vh;
}
